
@{
    ViewBag.Title = "Index";
}

@section featured{
    <section class="featured">

        <div class="content-wraper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>

    </section>
    
    
    }

<h2>Wybierz opcję:</h2>
<p>
    <a href="/Subscriber/Subscribe">Dodaj subskrypcję</a>
</p>
<p>
    <a href="/Subscriber/Unsubscribe">Usuń subskrypcję</a>

</p>
<p>
    <a href="/Subscriber/List">Lista subskrypcji</a>
</p>

